:root {
    /* Color Variables */
    /* رنگ اصلی */
    --color-primary: #2c7ef8;
    --color-primary-hover-light: #075cd9;
    /* رنگ زمینه و سطح */
    --color-background-light: #ffffff;
}
/* Reset */
* {
    font-family:
        "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}
